.nav-bg{
    background-color: #000000b3;
}

.primary-text{  
    color: white;
}

.primary-bg{
    background-color: #F5F5F5;
}

.btn-bg{
    background-color: #0078BE;
}

/* this coppied from the inspect of BDD page */
.nav-text{
    font-family: "TheMixSemiBold-Plain";
    font-size: 0.85rem !important;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}